* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

#root {
    height: auto;
}

.editor-wrapper {
    display: flex;
    flex-direction: column;
    width: 1080px;
    margin: 0 auto;
}

.editor-wrapper .editor-box .editor-title {
    font-size: 24px;
}

.editor-wrapper .editor-box .actions-box {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    padding: 12px 16px;
    background: #f5f5f5;
    border-left: 1px solid #ccced1;
    border-right: 1px solid #ccced1;
    border-bottom: 1px solid #ccced1;
}

.editor-wrapper .preview-box {
    display: none;
}

.editor-wrapper .preview-box.preview-box--show {
    display: block;
}

.editor-wrapper .preview-box .preview-title {
    font-size: 24px;
}

.editor-wrapper .preview-box iframe {
    border: none;
    width: 100%;
}
