.error-box {
    width: 50vw;

    h1 {
        font-size: 4rem;
    }

    p {
        margin: 0;
        line-height: 1.5;
        font-weight: 500;
    }

    .error-img {
        width: 60%;
        height: 60%;
        object-fit: cover;
    }
}