@import '@/Styles/Default.scss';

#divAuthPage {
    width: 100%;
    height: 100%;

    #divBody {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
}