@import './Variable.scss';

@mixin button-style(
    $color,
    $background-color,
    $border-color,
    $focus-shadow,
    $hover-bg, 
    $hover-border-color,
    $active-bg, 
    $active-border-color, 
    $disabled-bg, 
    $disabled-border-color
) {
    color: $color;
    background-color: $background-color;
    border: $btn-border-width solid $border-color;

    &:hover {
        color: $color;
        background-color: $hover-bg;
        border: $btn-border-width solid $hover-border-color;
    }

    &:focus {
        border: $btn-border-width solid transparent;
    }

    &:active {
        color: $color;
        background-color: $active-bg;
        border: $btn-border-width solid $active-border-color;
        box-shadow: inset 0 3px 10px rgba(0, 0, 0, 0.125);
    }

    &:disabled {
        color: $color;
        background-color: $disabled-bg;
        border: $btn-border-width solid $disabled-border-color;
    }
}

@mixin button-outline-style(
    $color,
    $background-color,
    $border-color,
    $disabled-bg, 
    $disabled-border-color
) {
    color: $background-color;
    background-color: transparent;
    border: $btn-border-width solid $border-color;

    &:hover {
        color: $color;
        background-color: $background-color;
        border: $btn-border-width solid $border-color;
    }

    &:focus {
        border: $btn-border-width solid $border-color;
    }

    &:disabled {
        color: $color;
        background-color: $disabled-bg;
        border: $btn-border-width solid $disabled-border-color;
    }
}