@import '@/Styles/Default.scss';

#divAside {
    position: fixed;
    top: 0;
    left: -270px;
    width: 270px;
    background-color: #ffffff;
    height: 100%;
    z-index: 11;
    transition: all 0.2 ease-in;
    border-right: 1px solid rgb(229, 234, 239);
    transition: all 0.2s ease-in-out;

    &.show {
        left: 0;
    }

    @media (min-width: 1200px) {
        left: 0;
    }

    .brand-logo {
        min-height: 90px;
        padding: 0 24px;

        .logo-wrap {
            text-decoration: none;
            color: $dark;
            font-weight: 600;
            letter-spacing: -1px;
            font-size: 24px;
            gap: 8px;
        }

        .close-btn {
            color: $gray-500;
            padding: 8px;
            margin-right: -8px;
        }
    }

    .sidebar-nav {
        &.scroll-sidebar {
            overflow-y: auto;
            padding: 0 24px;
            height: calc(100vh - 90px);
            border-radius: 7px;
        }

        .sidebar-list {
            display: flex;
            flex-direction: column;

            .sidebar-list-title {
                padding: 4px 10px;
                margin-top: 24px;

                span {
                    font-size: 12px;
                    font-weight: 500;
                    color: $gray-400;
                }
            }

            .sidebar-item {
                display: flex;
                flex-direction: column;

                &.open {
                    .item-toggle-btn {
                        color: $primary;
                        background-color: $gray-100;
                        &:hover {
                            color: $primary;
                            background-color: $gray-100;
                        }

                        .arrow {
                            transform: rotate(0deg);
                        }
                    }
                }

                &.active {
                    a {
                        background-color: $primary;
                        color: $white;
                        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
                        &:hover {
                            background-color: $primary;
                            color: $white;
                            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
                        }
                    }
                }

                .item-toggle-btn {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    padding: 10px;
                    color: $gray-700;
                    font-size: 14px;
                    border-radius: 8px;

                    .item-content {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                    }

                    .arrow {
                        transform: rotate(180deg);
                        transition: all 0.2s ease-in-out;
                    }

                    &:hover {
                        color: $primary;
                        background-color: $gray-100;
                    }
                }

                .item-list {
                    display: flex;
                    flex-direction: column;
                    max-height: 0;
                    overflow: hidden;
                    padding: 0;
                    transition: all 0.2s ease-in-out;

                    .item {
                        display: flex;
                        a {
                            width: 100%;
                            color: #a9a9a9;
                            padding: 6px 6px 6px 46px;
                            &:hover {
                                color: $primary;
                            }
                        }
                    }
                }

                .sidebar-link {
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    color: $gray-700;
                    font-size: 14px;
                    border-radius: 8px;
                    gap: 12px;

                    &.active {
                        background-color: $primary;
                        color: $white;
                        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
                        &:hover {
                            background-color: $primary;
                            color: $white;
                            box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
                        }
                    }

                    &:hover {
                        color: $primary;
                        background-color: $gray-100;
                    }
                }
            }
        }
    }
}
